.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contentBody {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.contentRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}

.contentSubBox,
.contentFooter {
  display: flex;
  width: 100%;
}

.contentSubBox {
  margin-bottom: 10px;
}

.contentFooter {
  margin-top: 20px;
}

.contentAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label,
.value {
  font-size: 13px;
}

.label {
  color: #7f7f7f;
  min-width: 110px;
}

.value {
  color: #000000;
}

@media screen and (min-width: 320px) {
  .contentAvatar {
    width: 45%;
  }

  .contentSubBox,
  .contentFooter {
    flex-direction: column;
  }
}

@media screen and (min-width: 426px) {

  .contentSubBox,
  .contentFooter {
    flex-direction: row;
  }
}

@media screen and (min-width: 600px) {

  .contentSubBox,
  .contentFooter {
    flex-direction: column;
  }
}

@media screen and (min-width: 992px) {
  .contentAvatar {
    width: 30%;
  }
}

@media screen and (min-width: 1100px) {

  .contentSubBox,
  .contentFooter {
    flex-direction: row;
  }
}